node_modules
.env
*.db
prisma/*.db
OnBoarding/.env
Payments/.env
Events/.env
BrandCampaign/.env
**/.env
.package-lock.json
dist
.secrets
.vscode/

.early.coverage
.cursor/

firebase.service.account.json
**/firebase.service.account.json
load-test.sh